In [4]:
import numpy as np 
import pandas as pd
import os

In [5]:
import pandas as pd
train = pd.read_excel('C:\\Users\\DELL\\Downloads\\Data_Train.xlsx')
test = pd.read_excel('C:\\Users\\DELL\\Downloads\\Data_Test.xlsx')

In [6]:
train["source"] = "train"
test["source"] = "test"

In [7]:
df = pd.concat([train,test])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16921 entries, 0 to 4230
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          15634 non-null  object
 1   RESTAURANT_ID  16921 non-null  int64
 2   CUISINES       16921 non-null  object
 3   TIME           16921 non-null  object
 4   CITY           16774 non-null  object
 5   LOCALITY       16793 non-null  object
 6   RATING         16917 non-null  object
 7   VOTES          15315 non-null  object
 8   COST           12690 non-null  float64
 9   source         16921 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ MB

In [9]:
df.duplicated().sum()

26

In [10]:
df= df.drop_duplicates()

In [11]:
df.isna().sum()

TITLE            1284
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES            1602
COST             4230
source              0
dtype: int64

In [12]:
df['Location']=df['CITY']+' '+df['LOCALITY']
df.drop(columns=['CITY','LOCALITY'])

,TITLE,RESTAURANT_ID,CUISINES,TIME,RATING,VOTES,COST,source,Location
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",3.6,49 votes,1200.0,train,Thane Dombivali East
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),4.2,30 votes,1500.0,train,Chennai Ramapuram
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",3.8,221 votes,800.0,train,Chennai Saligramam
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),4.1,24 votes,800.0,train,Mumbai Bandra West
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),3.8,165 votes,300.0,train,Mumbai Lower Parel
...,...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),3.9,287 votes,NaN,test,New Delhi Punjabi Bagh
4227,NaN,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),4.3,469 votes,NaN,test,Bangalore HSR Layout
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),3.7,53 votes,NaN,test,Faridabad Sector 86
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",-,NaN,NaN,test,Kochi Kochi
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),3.7,63 votes,NaN,test,Bandra West Perry Cross Road

In [13]:
df.dropna(subset=['Location'],inplace=True)

In [16]:
from fuzzywuzzy import process
 
names_array=[]
def match_names(wrong_names,correct_names):
    for row in wrong_names:
        x=process.extractOne(row, correct_names)
        if x[1]<60:
            names_array.append('Others')
        else:
          names_array.append(x[0])
    return names_array
  
#Wrong country names dataset

correct_names=['Bangalore','Thane',
'Hyderabad','Andheri',
'Delhi', 'Kerala',
'Chennai', 'Bandra',
'Mumbai', 'Telangana',
'Kochi', 
'Noida', 
'Gurgaon', 'Ernakulam',
'Faridabad', 'Ghaziabad',
'Secunderabad' ]
name_match=match_names(df.Location,correct_names) 
print(len(names_array))
df['Location']=names_array

ModuleNotFoundError: No module named 'Fuzzywuzzy'

In [15]:
cuisines_list=[]
for row in df['CUISINES']:
    cuisines_list.append(list(row.split(',')))

df['CUISINES']=cuisines_list

In [17]:
df['CUISINES'].isna().sum()

0

In [18]:
df_cuisines=df['CUISINES'].apply(lambda x: pd.Series(1, x))

In [19]:
title_list=[]
for row in df['TITLE']:
    title_list.append(list(row.split(',')))
df['TITLE']=title_list

AttributeError: 'float' object has no attribute 'split'

In [20]:
df_title=df['TITLE'].apply(lambda x: pd.Series(1, x))

TypeError: Index(...) must be called with a collection of some kind, 'CASUAL DINING' was passed

In [22]:
df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source,Location
0,CASUAL DINING,9438,"[Malwani, Goan, North Indian]","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0,train,Thane Dombivali East
1,"CASUAL DINING,BAR",13198,"[Asian, Modern Indian, Japanese]",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0,train,Chennai Ramapuram
2,CASUAL DINING,10915,"[North Indian, Chinese, Biryani, Hyderabadi]","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0,train,Chennai Saligramam
3,QUICK BITES,6346,"[Tibetan, Chinese]",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0,train,Mumbai Bandra West
4,DESSERT PARLOR,15387,[Desserts],11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0,train,Mumbai Lower Parel

In [23]:
df[df['RATING'].isna()]

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source,Location
204,BAKERY,15062,[Bakery],Not Available,Kochi,Marine Drive,NaN,NaN,200.0,train,Kochi Marine Drive
421,CAFÉ,14127,"[Cafe, Fast Food]",Not Available,Hyderabad,Banjara Hills,NaN,NaN,350.0,train,Hyderabad Banjara Hills
2035,QUICK BITES,2776,"[Kerala, Arabian]",Not Available,Kochi,Kakkanad,NaN,NaN,NaN,test,Kochi Kakkanad
2758,NaN,11301,"[Chinese, North Indian, South Indian]",Not Available,Kochi,Tripunithura,NaN,NaN,NaN,test,Kochi Tripunithura

In [24]:
df["RATING"] = df.groupby("CITY").RATING.transform(lambda x : x.fillna(x.mode()[0]))

In [25]:
df['RATING']=df['RATING'].str.extract('(\d+)').astype(float)

In [26]:
df['VOTES'].isna().sum()

1579

In [27]:
df.VOTES.fillna('0',inplace=True)
df['VOTES']=df['VOTES'].str.extract('(\d+)').astype(float)

In [28]:
df.drop(columns='CITY',inplace=True)
df.drop(columns='LOCALITY',inplace=True)
df.drop(columns='CUISINES',inplace=True)

In [29]:
# df.drop(columns='CUISINES',inplace=True)
#df.drop(columns='CUISINES++',inplace=True)
#df.drop(columns='Location++',inplace=True)
#df.drop(columns='TITLE++',inplace=True)

In [30]:
df_City=pd.get_dummies(df['Location'])
df.drop(columns='Location',inplace=True)
df_City.head()

,10th avenue Saane Apartment,1st Stage Maruthi Nagar Main Road,1st Tavarekere 3rd Cross Cashire Layout,3rd Street Old Door AA24 AA Block,5th Main Teachers Colony Koramangala Block 1 Bangalore 560034 The Mylapore Cafe 29,6 & 7 - 4/64 Subhash Nagar 5,682024 Kochi,682035. Kerala,682036 Kerala,APR Chambers House 3-5-909/B/1,...,kochi Kacheripady,kochi Kathrikadavu,kochi Thaikkavu Aluva 6,kochi kakkanad,navi mumbai seawoods grand central mall,opp gurudwara Shakurpur Near Jeevan Jyoti Apartment,opp mukteshwar ashram powai Shop no 3,opposite to western side of ITPL Service gate Whitefield,p.o Kochi Edappally,ward X11 MPL 6303
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [31]:
df = pd.concat([df,df_City,df_cuisines,df_title], axis=1)

NameError: name 'df_title' is not defined

In [32]:
df.drop(columns='TITLE',inplace=True)

In [33]:
df_column_category = df.select_dtypes(exclude=np.number).columns
df_column_category

Index(['TIME', 'source'], dtype='object')

In [34]:
df.drop(columns='TIME',inplace=True)

In [35]:
df.fillna(0,inplace=True)

In [36]:
train_final = df[df.source=="train"]
test_final = df[df.source=="test"]

In [37]:
train_final.shape

(12552, 5)

In [38]:
train_final.drop(columns=["source"],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2316\3737783168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_final.drop(columns=["source"],inplace=True)

In [39]:
test_final.drop(columns=["source",'COST'],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2316\849398528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_final.drop(columns=["source",'COST'],inplace=True)

In [40]:
train_X = train_final.drop(columns=["COST",'RESTAURANT_ID'])

In [41]:
train_Y = train_final["COST"]

In [42]:
test_X = test_final.drop(columns=["RESTAURANT_ID"])

In [43]:
train_X.fillna(0,inplace=True)
train_X.isna().sum()

RATING    0
VOTES     0
dtype: int64

In [50]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train_X, train_Y)
dtrain_predictions = model.predict(train_X)

In [51]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(model, train_X, train_Y, cv=5, scoring='neg_mean_squared_error')

In [46]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error, r2_score
print("\nModel Report")
print("RMSE : %.4g" % np.sqrt(mean_squared_error(train_Y.values, dtrain_predictions)))
    
test_X.fillna(0,inplace=True)
test_final["res_linear"] =  model.predict(test_X)

Model Report
RMSE : 594.4

C:\Users\DELL\AppData\Local\Temp\ipykernel_2316\1588342029.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_final["res_linear"] =  model.predict(test_X)

In [47]:
print('r2 train',r2_score(train_Y,dtrain_predictions))

r2 train 0.10680090818780086

In [48]:
Linear_submission = test_final[["RESTAURANT_ID","res_linear"]]

In [49]:
Linear_submission.head(20)

    RESTAURANT_ID  res_linear
0            4085  805.014607
1           12680  728.165887
2            1411  652.076449
3             204  819.371378
4           13453  602.117141
5            4518  604.103291
6            1643  237.873955
7            5109  826.251133
8            5606  671.174044
9           14319  599.519868
10           4079  623.964790
11           8873  605.631099
12          12322  797.986693
13           7910  734.124336
14            309  734.888240
15           1224  608.381152
16           6376  739.777224
17           3931  696.230088
18           2274  766.972199
19           4974  601.047676